doctype html
html(lang='en')
  head
    title About spacegame
    meta(charset='utf-8')
    meta(name='viewport' content='width=1024px, initial-scale=1')
    link(rel='stylesheet', href='style.css')
  body
    #impress
      .step
        h1 Hello world!
    script(src='impress.js')
    script impress().init()
